* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    min-width: 100%;
}

:root{
    --color-blanco-div:  rgb(231, 230, 230);
    --color-verde-fondo: rgba(27, 94, 59);
    --tamaño-letra-pequeña: 18px;
    --tamaño-letra-grande:45px;
    --color-letra-fondo-verde: rgb(231, 230, 230);
    --color-letra-pequeña:rgb(196, 196, 196);

}
body{
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    background: rgb(251, 250, 250);

} 
body p{
    color: rgb(116, 116, 116);
}
/*cabezera*/
header{

    background-color: var(--color-verde-fondo);
    padding-left: 10px;
    padding-top: 5px;
    display: flex;
    gap: 30px;
}
header p{
    color: rgb(231, 230, 230);
    margin-left: 2hv;
}

header img{
    height: 60px;
    width: 60px;
    background-color: var(--color-verde-fondo);
    border-radius: 60%;
    margin-left: 3%;
    margin-bottom: 1vh;
    margin-top: 0.5vh;

}
/*cuerpo*/
main{
    min-width: 100vh;
    flex: 1;
    font-size: var(--tamaño-letra-pequeña);
    
}

.bienvenida{
    background-color: white;
    padding: 3vh;
    display: flex;
    flex-direction: row;
    font-size: var(--tamaño-letra-pequeña);
    gap: 15%;
    border-bottom: 9px;
}
.bienvenida .bienvenidaTexto{
    margin-top: 3%;
    margin-left: 5%;
}

.bienvenida img{
    border-radius: 7%;
}

.bienvenida h1{
    font-size: var(--tamaño-letra-grande);
}

.botonBienvenida{
cursor: pointer;
border: 1px solid green;
background-color: transparent;
border-radius: 8px;
height: 6vh;
width: 30vh;
font-size: var(--tamaño-letra-pequeña);
}
.botonBienvenida:hover{

    color: white;
    background-color: green;
    transition: 0.5s ease;
}

#comoFunciona{
    min-width: 100%;
    text-align: center;
    padding-top: 3vh;
}
/*cuerpo interno de informacion*/
.info > div {
    gap: 20px;
    justify-content: center;
}
.info h3, #textoInfo{
    margin-left: 5%;
}
.info h3{
     margin-top: 10%;
}
.info #subInfo{
    display: flex;
    flex-direction: column;
    min-width:  100%;
    height: 10vh;
    padding-top: -50px;
}
.info article{
    width: 300px;
}

.info img{
    max-width: 37px;
}
.info .infoContenedor{
    display: flex;
    flex-direction: row;
}
.info div article{
    margin-top: 5%;
    margin-bottom: 15px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
    height: 150px;
    width: 30%;

    margin-bottom: 5vh;
}
.info div article p{
    text-align: left;
    margin-left: 2vh;
}
.info div article h3{
    margin-left: 6vh;
    margin-top: 0.9vh;
}
.info div article img{
    float: left;
    margin-left: 5px;
    margin-right: -60px;
}
.textoInfo2{
    margin: 3%;
    padding: 3%;
    border-radius: 1%;
    background-color: aliceblue;

}
/*pie de pagina*/
footer{
    height: 30vh;
    background-color: var(--color-verde-fondo);
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    margin-top: cover;
}
.parqueaYaFooter{
    padding: 1vh;
    margin-left: 40px;
    width: 400px;
    margin-top: 3vh;
    color: white;
}
.parqueaYaFooter p{
    color: white;
}
footer img{
    max-width: 150px;
}
.pie{
    margin-left: 40%;
    width: 400px;
    margin-top: 3vh;
    color: white;
}
.pie p, a{
    color: white;
    text-decoration: none;
}
.infoContenedor{
    background-color: white;
}
.infoContenedor article:hover{
    background-color: rgb(233, 240, 233);
}
@keyframes desvanecer {
    0% { opacity: 0; }
    100% { opacity: 1; }

}